
<h2>{{vm.name}}<h2>

<h3>{{vm.blocks.length}} blocks</h3>

<div class="container">
    <label for="blockSearch" class="prop-label">Search</label>
    <input type="search" id="blockSearch" ng-model="vm.searchText" placeholder="#index or hash" />
</div>

<table class="table table-striped" ng-init="vm.addLatestBlock()">
    <thead>
        <tr>
            <th>#</th>
            <th>Hash</th>
            <th>Time</th>
            <th>Transactions</th>
        </tr>
    </thead>
    <tbody>
        <tr id="block{{b.index}}" ng-repeat="b in vm.blocks | filter:vm.filterBySearch">
            <td>{{b.index}}</td>
            <td>
                <a href="#/block/{{b.hash}}" title="{{b.hash}}">{{$parent.vm.shrinkHash(b.hash)}}</a>
            </td>
            <td>{{b.time * 1000 | date:'dd-MMM, H:mm:ss'}}</td>
            <td><tx-petri block="b" dish-size="150"></tx-petri></td>
        </tr>
    </tbody>
</table>

<div class="panel panel-danger" ng-show="vm.errorMsg.length">
  <div class="panel-heading">
    <h3 class="panel-title">Error</h3>
  </div>
  <div class="panel-body">{{vm.errorMsg}}</div>
</div>

<button class="btn btn-primary" ng-show="vm.blocks.length % vm.newBlocks === 0" ng-click="vm.addBlock(vm.nextBlockHash, vm.newBlocks)">Load {{vm.newBlocks}} more</button>

<ul class="pager" ng-show="vm.blocks.length">
    <li><a href="#" title="Previous 10 blocks">Previous</a></li>
    <li><a href="#" title="Next 10 blocks">Next</a></li>
</ul>
